@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('node_modules/@egjs/vue-flicking/dist/flicking.css');
@import '@egjs/flicking-plugins/dist/flicking-plugins.css';

$blue: #6282fd !default;

$theme-colors: (
  primary: $blue,
) !default;

// Custon theme bootstrap
$font-family-sans-serif: 'Poppins', sans-serif;

// Importa Bootstrap completo
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import '~bootstrap-vue/src/icons.scss';

:root {
  --primary-80: #001c4b;
  --primary-60: #003283;
  --primary-50: #0047bb;
  --primary-40: #a3c2ff;
  --primary-20: #cfdeff;
  --primary-10: #f4f7ff;
  --gray-80: #1f1f1f;
  --gray-60: #343752;
  --gray-40: #6b6e84;
  --gray-20: #a9b1ce;
  --gray-10: #fbfbfb;
}

*,
h1,
h2,
p,
img {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 16px;
}

body {
  background-color: var(--primary-10);
}

button {
  color: #ffffff;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  background: #0047bb;
  border-radius: 12px;
}

.caixa {
  width: min(48.125rem, 100%);
}

.altura {
  height: 100vh;
}

.push {
  margin-top: auto;
}

.gray-40 {
  color: var(--gray-40);
}

.malek-x {
  color: var(--primary-80);
}

.flicking-pagination-bullet-active {
  background-color: #0047bb;
}
