@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('node_modules/@egjs/vue-flicking/dist/flicking.css');
@import '@egjs/flicking-plugins/dist/flicking-plugins.css';

$blue: #6282fd !default;

$theme-colors: (
  primary: $blue,
) !default;

// Custon theme bootstrap
$font-family-sans-serif: 'Poppins', sans-serif;

// Importa Bootstrap completo
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import '~bootstrap-vue/src/icons.scss';

:root {
  --malek-primary: #6282fd;
  --malek-secondary: #2e328c;
  --malek-terciary: #0047bb;
  --malek-x: #002554;
  --malek-dark: #1f1f1f;
  --malek-gray: #5b5b5b;
  --malek-gray1: #f8f9fd;
  --malek-gray2: #a9b1ce;
  --malek-gray3: #6b6e84;
  --malek-blue1: #f6f8ff;
  --malek-blue2: #cfdeff;
}

*,
h1,
h2,
p {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 16px;
}

body {
  background-color: var(--malek-blue1);
}

button {
  color: #ffffff;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  background: #0047bb;
  border-radius: 12px;
}

.caixa {
  width: min(48.125rem, 100%);
}

.altura {
  height: 100vh;
}

.push {
  margin-top: auto;
}

.malek-gray {
  color: var(--malek-gray);
}

.malek-x {
  color: var(--malek-x);
}

.flicking-pagination-bullet-active {
  background-color: #0047bb;
}
